---

---
/* ---Main--- */

:root {
    /* Light */
    --background-primary-light: #F1F1F1;
    --background-secondary-light: #DDDDDD;
    --text-primary-light: #434D56;
    --text-secondary-light: #374857;
    --hyperlink-light: #4E4EB5;
    --link-hover-light: #D6D0D0;
    
    /* Dark */
    --background-primary-dark: #29292E;
    --background-secondary-dark: #333344;
    --text-primary-dark: #FFFFFF;
    --text-secondary-dark: #CECECE;
    --hyperlink-dark: #A2A2FF;
    --link-hover-dark: #524E4E;
}

body {
    font-family: "Montserrat", sans-serif;
    color: var(--text-primary-light);
    background-color: var(--background-primary-light);
    margin: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.main-box {
    text-align: left;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.content-box {
    float: left;
    width: 80%;
    max-width: 1000px;
    position: relative;
    overflow-wrap: break-word;
}

.hybrid-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---Header--- */

header {
    display: flex;
    width: 100%;
    justify-content: center;
}

header nav {
    height: 48px;
    display: flex;
    width: 80%;
    max-width: 1000px;
    align-items: center;
    justify-content: center;
}

header nav ul {
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style-type: none;
    font-size: 18px;
}

/* ---Footer--- */

footer {
    position: fixed;
    height: 48px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-secondary-light);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

footer nav {
    height: 48px;
    display: flex;
    width: 80%;
    max-width: 1000px;
    align-items: center;
    justify-content: center;
}

footer nav ul {
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style-type: none;
    font-size: 16px;
}

/* ---Color Scheme Boxes--- */

.color-box {
    text-align: center;
    display: flex;
    width: 600px;
    height: 50px;
    flex-direction: row;
    flex-wrap: wrap;
}

.color-box-item {
    text-align: center;
    display: flex;
    width: 100px;
    height: 50px;
    align-items: center;
    flex-direction: column;
}

/* ---Images--- */

img {
    opacity: 0.95;
    max-width: 100%;
    height: auto;
    width: auto\9;
}

.profile_picture {
    opacity: 0.95;
    padding: 10px;
    border-radius: 16px;
    max-width: 100%;
    height: auto;
    width: auto\9;
}

/* ---Hyperlinks--- */

a {
    color: var(--hyperlink-light);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    background-color: var(--link-hover-light);
}

.clean-link {
    color: var(--text-secondary-light);
    border-radius: 2em;
    padding: 0.5rem 0.5rem;
    background-color: transparent;
    text-decoration: none;
}

a.clean-link:hover {
    background-color: var(--link-hover-light);
}

/* ---Text styling--- */

pre {
    font-size: 16px;
    margin: 0;
    border-radius: 6px;
    width: auto;
    padding: 0.5rem 0.5rem;
    white-space: pre-wrap;
    word-wrap: break-word;
}

code {
    font-family: "JetBrains Mono", monospace;
}

.blog-ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    text-align: left;
}

h1 {
    font-weight: 300;
    font-size: 40px;
    text-align: left;
}
  
h2 {
    font-weight: normal;
    font-size: 30px;
    font-style: normal;
    text-align: left;
}
  
h3 {
    font-weight: normal;
    font-size: 25px;
    font-style: normal;
    text-align: left;
}

h4 {
    font-weight: normal;
    font-size: 20px;
    font-style: normal;
    text-align: left;
}

p {
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}

b { 
    font-weight: bold;
    font-style: normal;
}

i { 
    font-weight: normal;
    font-style: italic;
}

em { 
    font-weight: normal;
    font-style: italic;
}

ul {
    padding-left: 15px;
}

ol {
    padding-left: 20px;
}

blockquote {
    font-style: italic;
    background: var(--background-secondary-light);
    border-radius: 1em;
    padding: 0.5rem 0.5rem;
}

blockquote p{
    font-style: italic;
}

.info-table{
    border: none;
    background: none;
    border-radius: none;
    padding: none;
}

.info-table td {
    border: none;
    padding: none;
}

.info-table tr {
    border: none;
    padding: none;
}

table {
    letter-spacing: 1px;
    background: var(--background-secondary-light);
}

table, th, td {
    border: 1px dotted var(--text-secondary-light);
    border-collapse: collapse;
    padding: 3px;
}


/* ---Fonts--- */

@font-face { 
    font-family: Montserrat; 
    src: url("fonts/Montserrat-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face { 
    font-family: Montserrat; 
    src: url("fonts/Montserrat-SemiBold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face { 
    font-family: Montserrat; 
    src: url("fonts/Montserrat-Italic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Montserrat; 
    src: url("fonts/Montserrat-BoldItalic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}

@font-face { 
    font-family: Montserrat; 
    src: url("fonts/Montserrat-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face { 
    font-family: "JetBrains Mono";
    src: url("fonts/JetBrainsMono-Medium.woff2");
}

/* ---Responsiveness--- */

/* Screen size */
@media screen and (max-width: 900px) {
    .hybrid-content {   
        flex-direction: column;
    }
    .content-box {   
        width: 96%;
    }
    .color-box {   
        width: 300px;
        height: 100px;
    }

    header nav, footer nav {   
        width: 96%;
    }

    h1 {
        font-size: 7vw;
    }

    h2 {
        font-size: 6vw;
    }

    h3 {
        font-size: 5vw;
    }

    h4 {
        font-size: 4vw;
    }
}

/* Color scheme */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--background-primary-dark);
        color: var(--text-primary-dark);
    }

    footer {
        background-color: var(--background-secondary-dark);
    }

    a {
        color: var(--hyperlink-dark);
    }

    a:hover {
        background-color: var(--link-hover-dark);
    }

    .clean-link {
        color: var(--text-secondary-dark);
    }

    a.clean-link:hover {
        background-color: var(--link-hover-dark);
    }
    
    blockquote {
        background: var(--background-secondary-dark);
    }

    table {
        background: var(--background-secondary-dark);
    }

    table, th, td {
        border: 1px dotted var(--text-secondary-dark);
    }
}

/* Language-specific syntax highlighting for code */
@import "zenburn-light.css" (prefers-color-scheme: light);
@import "zenburn.css" (prefers-color-scheme: dark);