<nav>
    <button class="home-button" type="button" onclick="">
      <a href="/">stylback.se</a>
    </button>

    <button class="theme-toggle" type="button" data-theme-toggle label=""></button>
      
    </button>
    
    <div class="menu">
        <ul>
            <li><a href="" onclick="return false;" >&#9776</a>
                <ul>
                {% for item in site.data.menu %}
                <li><a href="{{ item.link }}" {% if page.url == item.link %}{% endif %}>{{ item.name }}</a></li>
                {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
</nav>